/* font family is shadows */
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

/* font family is open sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');



body {
    background-color: #F5E050;


    margin: 0px;
    padding: 0px;

    font-family: shadows into light, sans-serif;
}

nav {
    display: block;
}

.nav-brand {
    padding-left: 2rem;
    font-size: 2.5rem;
}

.navigation {

    background-color: rgb(24, 121, 212);
    margin: 0px;
    padding-top: 1rem;
    color: #f3f719;
    font-size: larger;
    font-weight: bolder;
    padding: 1rem;
}

/* .navigation .non-bullet{
    list-style: none;
    text-align: right;
} */
.navigation ul {
    list-style: none;
    text-align: right;
}

.navigation li {
    display: inline;
    padding: 2rem;
    font-size: 1.5rem;
}

.section-1{
    width: 100%;
    height: 58vh;
    background-color: white;
}
img{
    display: block;
    padding: 2rem;
    margin: auto;
    width: 300px;
}

.section-2{
    width: 100%;
    height: 50vh;
    background-color:#f3f719;
}

footer{
    width: 100%;
    height: 15vh;
    background-color: rgb(189, 180, 179);
}