/* font family is shadows */
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

/* font family is open sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');



body {
    background-color:#F5E050;
     
    display: block;
    margin: 0px;
    padding: 0px;
    display: block;
    font-family: shadows into light,sans-serif;
}

nav {
    display: block;
}

.nav-brand{
    padding: 0rem;
    font-size: 2.5rem;
}

.navigation {

    background-color: rgb(24, 121, 212);
    margin: 0px;
    padding-top: 5rem;
    color: #f3f719;
    font-size: larger;
    font-weight: bolder;
    padding: 2rem;
    

    
}